titanium.platform=/Users/geraudbourdin/Library/Application Support/Titanium/mobilesdk/osx/5.0.2.GA/android
android.platform=/Users/geraudbourdin/Library/android-sdk-macosx/platforms/android-21
google.apis=/Users/geraudbourdin/Library/android-sdk-macosx/add-ons/addon-google_apis-google-19
android.ndk=/Users/geraudbourdin/Documents/Mobile/android-ndk-r10e